#newform{
    z-index: 3;
    width: 33vw;
    height: 75vh;
    margin: auto;
    position: fixed;
    left: 33.5vw;
    top: 12.5vh;
    border-radius: 15px;
    background: linear-gradient(-45deg, #82a8a6, #4b4da0, #4a226b, #3ea4be, #338055);
    animation: gradient 11s ease infinite;
    background-size: 500% 500%;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
    justify-content: center;
}
#closeNew{
    position: absolute;
    top: 0%;
    width: 8%;
    left: 92%;
    color: white;
    background-color: #4a226b;
}
#newform input{
    margin: 5% auto;
}
@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
    
}