body{
  background-color: rgb(66, 65, 65);
  color: white;

  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}
.css-mmst5v {
  width: 100%;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
